.bodyForm {
    color: black;
    line-height: 1.5;
    margin: auto;
    max-width: 85%;
    padding-left: 33%;
    height: 100%;
}

.divContact{
    color: black;
}

body{
    color: black;
}