
.mainBody{
    background-image: linear-gradient(-90deg, navajowhite, yellow);
    align-items: center;
}

.formular {
    align-items: center;
}

.logo{
    width: 16%;
    margin-left: 42%;
    margin-right: 42%;
}

input[type=text], input[type=password] {
    position: relative;
    width: 30%;
    padding-top: 20%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.signUpButton{
    background-color: rgb(15, 47, 189);
    color: white;
    padding-top: 10%;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

.cancelButton{
    background-color:red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

.buttons{
    margin-left: 5%;
}
